# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  name: Hosted Windows 2019 with VS2019
  demands:
  - msbuild
  - visualstudio
  - vstest


variables:
  BuildPlatform: 'Any CPU'
  BuildConfiguration: 'Release'

steps:

- task: NuGetToolInstaller@1
  displayName: 'Use NuGet 4.7.1'
  inputs:
    versionSpec: 4.7.1

- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: '**/Test.sln'
    feedsToUse: config
    nugetConfigPath: Nuget.config

- task: NuGetCommand@2
  displayName: 'NuGet restore'
  inputs:
    restoreSolution: '**/Test.sln'
- task: MSBuild@1
  inputs:
    solution: '**/*.csproj'
